/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 100;
}

.avatar2 {
  vertical-align: middle;
  width: 50;
  height: 50px;
  border-radius: 100;
}

.menu {
  text-align: center;
  justify-content: center;
}

.background {
  background-image: url("../images/background.jpg");
  width: 100%;
  height: 100%;
}

.logo {
  width: 80px;
  height: 40px;
}

.boxChat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.nameChat {
  margin: auto;
  padding: 10px;
  text-align: center;

  /* display: flex; */
  /* width: fit-content;
    height: fit-content; */
}

.avatarChat {
  justify-content: center;
  align-items: center;

}

.boxAvatar {
  width: 20%;
  height: auto;
}

.boxName {
  width: 80%;
  height: auto;
}

.link {
  text-decoration: none
}


.columnMenu {
  width: 65px;
  height: 100px;
}

.columnUser {
  width: 20%;
  height: max-content;
}

.columnContens {
  width: max-content;
  height: max-content;
}

.ul {
  list-style: none;
}